<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Site web de review de figurine. Par les fans pour les fans, vous permettant de commenter vos figurines." />
		<meta name="author" content="O'Clock 'n Co" />

		<title><% if (locals.pageTitle) { %> 
      <%= locals.pageTitle %> - O'Fig - un magasin de figurines
      <% } else { %> 
        O'Fig - un magasin de figurines 
      <% } %>
    </title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

		<!-- Custom styles for this template -->
		<link href="/css/style.css" rel="stylesheet" />
	</head>

